Package: dev.quinnjr.armybox
Name: Armybox
Version: 0.1.0
Architecture: iphoneos-arm64
Description: BusyBox/Toybox clone in Rust - 303 Unix utilities in a single binary
Homepage: https://github.com/quinnjr/armybox
Maintainer: Joseph R. Quinn <quinn.josephr@protonmail.com>
Author: Joseph R. Quinn <quinn.josephr@protonmail.com>
Section: Utilities
Depends: firmware (>= 11.0)
Conflicts: com.busybox
Provides: busybox
Priority: optional
